.header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 0 20px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer {
  width: 40%;
}

.headerContainer p {
  margin: 20px 0;
}

.headerImg {
  width: 60%;
}

.backgroundImgLanding {
  max-width: 100%;
}
