@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700&display=swap);

.water_control_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 13%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background_div {
  display: none;
  position: absolute;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba(39, 70, 133, 0.8) 0%,
      rgba(61, 179, 197, 0.8) 100%
    ),
    url(../../images/header-bg.jpg);
  border-radius: 0 0 400px 400px;
  z-index: 1;
}

.text_header {
  font-size: 40px;
  color: #000000;
}

.text_header_target {
  font-size: 80px;
  color: rgb(62, 84, 114);
  font-weight: 700;
}

.wrapper_target {
  font-size: 40px;
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.watter_drunk {
  margin-bottom: 30px;
}

.cup {
  background-color: #fff;
  box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.circle {
  width: 370px;
  height: 370px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.8s ease;
}

.percentage {
  background-color: #6ab3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.8s ease;
  visibility: hidden;
}

.glassOfWater {
  margin-bottom: 50px;
  position: relative;
}

.glassOfWater img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  z-index: 2;
  transition: all 1s;
  width: 70px;
}

.glassOfWater img:hover {
  width: 90px;
  cursor: pointer;
}

.target_done {
  font-family: monospace;
  font-size: 2em;
}

@media (min-width: 581px) and (max-width: 768px) {
  .water_control_wrapper {
    display: block;
    margin-top: 10%;
  }

  .background_div {
    display: flex;
    height: 55%;
  }

  .wrapper {
    margin-bottom: 12px;
  }

  .circle {
    height: 320px;
    width: 320px;
  }
}

@media screen and (max-width: 580px) {
  .water_control_wrapper {
    margin-top: 10%;
    display: block;
  }

  .background_div {
    display: flex;
    height: 45%;
  }

  .wrapper {
    margin-bottom: 15px;
  }

  .cup {
    height: 300px;
    width: 300px;
  }

  .circle {
    height: 250px;
    width: 250px;
  }

  .wrapper_target {
    font-size: 34px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 500px) {
  .water_control_wrapper {
    margin-top: 14%;
  }
}
