@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular,700&display=swap);


.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
}

.text_header {
  font-size: 40px;
  color: #000000

}

.text_header_target{
  font-size: 80px;
  color: rgb(62, 84, 114);
  font-weight: 700;
}

.wrapper_target {
  font-size: 40px;
  display: flex;
  gap: 20px;
  position: relative;
  top: 50px;
}

.watter_drunk {
  margin-bottom: 30px;
}


.cup {
  background-color: #fff;
  box-shadow: 0 2px 20px rgb(0 0 0 / 15%);
  color: #144fc6;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.8s ease;
}

.percentage {
  background-color: #6ab3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.8s ease;
  visibility: hidden;
}

.glassOfWater {
  margin-bottom: 50px;
  position: relative;
}

.glassOfWater img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform:translate(-50%);
  z-index: 2;
}

.glassOfWater img:hover {
  opacity: .5;
}

.target_done{
  font-family: monospace;
  font-size: 2em;
}

