.form_wrapper {
  position: relative;
  margin: 10px auto;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.login_container {
  position: relative;
  width: 50%;
  margin: 10px auto;
  margin-top: 15%;
}

.header {
  color: #0d6efd;
  display: flex;
  justify-content: center;
}

.links {
  color: #0d6efd;
  text-decoration: none;
}

.links:hover {
  color: blue;
}

.active {
  color: blue;
}

.title {
  color: blue;
}

.error {
  color: red;
}

.form_btns {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn_submit {
  width: 60%;
}

@media screen and (max-width: 580px) {
  .form_wrapper {
    width: 70%;
  }

  .btn_submit {
    width: 100%;
  }
}
