.login_container {
  position: relative;
  width: 50%;
  margin: 10px auto;
  margin-top: 15%;
}

.header {
  color: #0d6efd;
  display: flex;
  justify-content: center;
}

.links {
  color: #0d6efd;
  text-decoration: none;
}

.links:hover{
  color: blue;
}

.activeLink{
  text-decoration: none;
  color: blue;
}

.title {
  color: blue;
}

.forgot_pswd {
  text-align: center;
}

.error {
  color: red;
}
