.analytics {
  margin-top: 10%;
}

.analytics_wrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  margin-top: 3%;
  justify-content: space-around;
}

.calendar {
  display: flex;
  justify-content: center;
}

.donut_chart {
  display: flex;
  justify-content: center;
}

.analytics_donat canvas {
  height: 430px !important;
  width: 430px !important;
}

@media (min-width: 571px) and (max-width: 1100px) {
  .analytics {
    margin-top: 12%;
  }

  .analytics_wrapper {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
  }

  .analytics_line canvas {
    width: 550px !important;
  }

  .donut_chart {
    margin-top: 3%;
  }

  .line_chart {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 571px) and (max-width: 720px) {
  .analytics {
    margin-top: 15%;
  }
}

@media (min-width: 421px) and (max-width: 570px) {
  .analytics {
    margin-top: 20%;
  }

  .analytics_wrapper {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
  }

  .rdrDefinedRangesWrapper {
    display: none !important;
  }

  .donut_chart {
    margin-top: 5%;
  }

  .line_chart {
    display: flex;
    justify-content: center;
  }

  .analytics_line canvas {
    width: 400px !important;
  }
}

@media screen and (max-width: 420px) {
  .analytics {
    margin-top: 25%;
  }

  .analytics_wrapper {
    display: flex;
    flex-direction: column;
  }

  .rdrDefinedRangesWrapper {
    display: none !important;
  }

  .donut_chart {
    margin-top: 5%;
  }

  .analytics_donat canvas {
    height: 300px !important;
    width: 300px !important;
  }

  .line_chart {
    display: flex;
    justify-content: start;
  }

  .analytics_line canvas {
    min-width: 250px !important;
    width: 320px !important;
  }
}
