.header_wrapper {
  height: 80px;
  background: linear-gradient(
      to right,
      rgba(39, 70, 133, 0.8) 0%,
      rgba(61, 179, 197, 0.8) 100%
    ),
    url(../../images/header-bg.jpg);
}

.logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 500;
}

.logo h1 a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  padding: 0;
  margin-left: auto;
  min-width: 250px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: rgba(255, 255, 255, 0.65);
}

.profile {
  margin-left: 15px;
}

.btnOutline {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  padding: 5px 10px !important;
  border-radius: 5px;
  min-width: 80px;
}

.btnOutline:hover {
  background: #fff;
  color: #2d71a1;
}

@media screen and (max-width: 992px) {
  .content {
    justify-content: center !important;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .navbar {
    margin-left: 0;
    order: 3;
  }

  .profile {
    order: 2;
  }

  .logo {
    order: 1;
  }
}

@media screen and (max-width: 580px) {
  .mob_version {
    display: none;
  }
}
